.input {
    display: flex;
    flex-direction: column;
}

.input span {
    font-size: 15px;
}

.input input {
    border: none;
    border-radius: 6px;
    height: 25px;
    background-color: #EDEDED;
    padding: 4px 10px 4px 10px;
}

.input input {
    outline: none;
}