.headerComponent {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0px 58px 0px 58px;
}

.logo {
}

.userOptions {
    display: flex;
    align-items: center;
}

.userOptions .userProfile {
    width: 45px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    margin: 0px 18px 0px 18px;
}

.username {
    color: #000000;
    font-size: 15px;
}

.userPermission {
    color: #707070;
    font-size: 12px;
}